* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background: #000000;
  min-height: 100vh;
  color: #fff;
}

h1, h2, h3 {
  font-family: 'Fredoka One', cursive;
}
